@import "tailwindcss";

:root{  
  --color-brown-0: #b75d0a;
  --color-brown-1: #c1946a;
  --color-brown-2: : #b9936c;  
  --color-brown-3: #dac292; 

  
  --color-dark-1: #3e4444;
  --color-dark-2: #c4b7a6;  
  --color-dark-3: #e6e2d3;  
  
  
  --color-green-1: #405d27;  
  --color-green-2: #82b74b;
  --color-green-3:#c1ec93; 
  
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button:hover{
  cursor: pointer;
}